/*-----------------------------------------------------------公共样式-----------------------------------------------------*/

/*----------------------------reset----------------------------*/
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 560px;
	overflow: hidden;
}

body {
	color: #595959;
	font-family: helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, simsun, sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
}

h2,
p {
	margin: 0;
	padding: 0;
}

/*----------------------------整页公用属性----------------------------*/

/*flex布局*/
.flexlayout {
	display: flex;
}

.flexlayout * {
	flex-shrink: 0;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

/*父元素下所有第一代子元素绝对定位*/
.absoluteAll>* {
	position: absolute;
}

/*固定定位，用于导航条*/
.fixed {
	position: fixed;
}

/*a标签*/
a {
	color: #406599;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

a:hover {
	opacity: .7;
}

/*-----------------------------------------------------------头部导航-----------------------------------------------------*/

/*----------------------------header公共属性----------------------------*/
header {
	font-size: 0;
}

header .btn {
	width: 96px;
	height: 40px;
	line-height: 40px;
	background: none;
	border: none;
	border-radius: 4px;
	outline: none;	/*vertical-align: bottom;  用于官网原写法按钮对齐*/
}

header .btn a {
	display: block;
	height: 100%;
	color: inherit;
	line-height: inherit;
}

/*官网原写法*/

/*
.nav-top {
	top: 0;
	left: 0;
	width: 100%;
	height: 76px;
	background: #fff;
	box-shadow: 0 1px 10px hsla(0, 7%, 56%, .08);
	z-index: 3;
	-webkit-transition: top .3s;
	-moz-transition: top .3s;
	-ms-transition: top .3s;
	-o-transition: top .3s;
	transition: top .3s;
}

.logo-left {
	top: 14px;
	left: 40px;
	width: 47px;
	height: 47px;
}

.logo-right {
	top: 22px;
	left: 102px;
	width: 94px;
	height: 32px;
}

.btns-wrapper {
	position: absolute;
	right: 40px;
	bottom: 18px;
}

.register {
	color: #f85959;
	background: #fff;
	border: 1px solid #f85959;
}

.logoin {
	margin-left: 10px;
	color: #fff;
	background: #f85959;
}
*/

/*改进写法，利用CSS方法居中，不适用position + px定位*/
header.nav-top {
	top: -76px;
	left: 0;
	width: 100%;
	height: 76px;
	line-height: 76px;
	background: #fff;
	box-shadow: 0 1px 10px hsla(0, 7%, 56%, .08);
	z-index: 3;
	-webkit-transition: top .3s;
	-moz-transition: top .3s;
	-ms-transition: top .3s;
	-o-transition: top .3s;
	transition: top .3s;
}

/*JS控制进出*/
header.scroll {
	top: 0;
}

header .logo-left {
	margin-top: -1px;
	margin-left: 40px;
	width: 47px;
	height: 47px;
}

header .logo-right {
	margin-left: 15px;
	width: 94px;
	height: 32px;
}

header .register {
	color: #f85959;
	background: #fff;
	border: 1px solid #f85959;
}

header .logoin {
	margin-left: 14px;
	margin-right: 40px;
	color: #fff;
	background: #f85959;
}

/*-----------------------------------------------------------轮播图按钮-----------------------------------------------------*/
.carousel-btns {
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	z-index: 2;
}

.carousel-btns ul {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel-btns .carousel-btn {
	width: 10px;
	height: 10px;
	margin: 10px 0;
	background: #d2d4d6;
	border-radius: 50%;
}

.carousel-btns .carousel-btn.active {
	background: #fff;
	border: 4px solid #f95e58;
	-webkit-transform: translateX(-4px);
	-moz-transform: translateX(-4px);
	-ms-transform: translateX(-4px);
	-o-transform: translateX(-4px);
	transform: translateX(-4px);
}

/*-----------------------------------------------------------轮播图-----------------------------------------------------*/

/*----------------------------单页公共属性----------------------------*/

/*总包裹层*/
.carousel {
	position: relative;
	top: 0;
	height: 100%;
	-webkit-transition: top .8s;
	-moz-transition: top .8s;
	-ms-transition: top .8s;
	-o-transition: top .8s;
	transition: top .8s;
}

/*单页包裹层*/
.page {
	position: relative;
	height: 100%;
	overflow: hidden;
}

/*单页内容包裹层*/
.page .standard-content {
	position: relative;
	width: 890px;
	height: 100%;
	margin: 0 auto;
}

/*单页内容标题*/
.page .title {
	color: #222;
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
}

/*单页内容文本*/
.page .text {
	color: #222;
	font-size: 18px;
	line-height: 18px;
}

/*单页按钮*/
.page .btn * {
	width: 100%;
	height: 100%;
}

/*导航箭头*/
.page .guide-arrow {
	left: 50%;
	bottom: 36px;
	width: 32px;
	height: 30px;
	margin-left: -16px;
	cursor: pointer;
}

/*----------------------------page-1----------------------------*/
.page-1 .bg-1 {
	width: 100%;
	height: 100%;
}

.page-1 .bg-2 {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 255px;
}

.page-1 .bg-3 {
	top: 14px;
	left: 40px;
	width: 47px;
	height: 47px;
}

.page-1 .bg-4 {
	top: 22px;
	left: 102px;
	width: 94px;
	height: 32px;
}

.page-1 .standard-content .i-1 {
	bottom: 404px;
	left: 295px;
	width: 679px;
	height: 405px;
}

.page-1 .standard-content .i-2 {
	bottom: 0;
	left: -298px;
	width: 927px;
	height: 831px;
}

.page-1 .standard-content .btn {
	bottom: 300px;
	width: 196px;
	height: 58px;
	cursor: pointer;
}

.page-1 .standard-content .btn:hover {
	opacity: 1;
}

.page-1 .standard-content .register {
	left: 739px;
	opacity: 1;
}

.page-1 .standard-content .logoin {
	left: 519px;
}

/*----------------------------page-2----------------------------*/
.page-2 .standard-content .title {
	top: 180px;
	line-height: 56px;
}

.page-2 .standard-content .text {
	top: 244px;
}

.page-2 .standard-content .link {
	top: 352px;
	width: 250px;
	font-size: 18px;
	line-height: 18px;
}

.page-2 .standard-content .btn {
	top: 394px;
	left: -13px;
	width: 150px;
	height: 76px;
}

.page-2 .standard-content .i-1 {
	top: 322px;
	left: 335px;
	width: 514px;
	height: 319px;
}

.page-2 .standard-content .i-2 {
	top: 448px;
	left: 372px;
	width: 105px;
	height: 58px;
}

.page-2 .standard-content .i-3 {
	top: 521px;
	left: 403px;
	width: 119px;
	height: 71px;
}

.page-2 .standard-content .i-4 {
	top: 523px;
	left: 631px;
	width: 141px;
	height: 94px;
}

.page-2 .standard-content .loop {
	top: 139px;
	left: 255px;
	width: 666px;
	height: 666px;
	opacity: .65;
}

.page-2 .standard-content .loop div {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #979797;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

/*----------------------------page-3----------------------------*/
.page-3 .standard-content .title {
	top: 155px;
}

.page-3 .standard-content .text {
	top: 280px;
}

.page-3 .standard-content .icon-list {
	top: 340px;
}

.page-3 .standard-content .icon-list img {
	width: 59px;
	height: 59px;
}

.page-3 .standard-content .icon-list .icon-4 {
	margin-bottom: 12px;
	width: 45px;
	height: 45px;
}

.page-3 .standard-content .i-1 {
	top: 215px;
	left: 236px;
	width: 867px;
	height: 502px;
}

.page-3 .standard-content .i-2 {
	top: 525px;
	left: 680px;
	width: 100px;
	height: 50px;
}

.page-3 .standard-content .i-3 {
	top: 539px;
	left: 51px;
	width: 117px;
	height: 95px;
}

.page-3 .standard-content .i-4 {
	top: 354px;
	left: 332px;
	width: 476px;
	height: 345px;
}

.page-3 .standard-content .i-5 {
	top: 462px;
	left: 741px;
	width: 101px;
	height: 75px;
}

.page-3 .standard-content .i-6 {
	top: 437px;
	left: 814px;
	width: 120px;
	height: 97px;
}

.page-3 .standard-content .i-7 {
	top: 613px;
	left: 171px;
	width: 192px;
	height: 91px;
}

.page-3 .standard-content .i-8 {
	top: 550px;
	left: 733px;
	width: 138px;
	height: 85px;
}

/*----------------------------page-4----------------------------*/

/* 文字内容 */
.page-4 .standard-content .title {
	top: 170px;
	line-height: 56px;
}

.page-4 .standard-content .text {
	top: 238px;
	line-height: 30px;
}

/* 右背景图 */
.page-4 .bg-1 {
	left: 236px;
	top: 215px;
	height: 502px;
	width: 867px;
}

/* 左下图片*/
.page-4 .i-1 {
	left: 97px;
	top: 390px;
	height: 303px
}

/* 堆叠层 */

/* 白底 */
.page-4 .i-stack-bottom {
	top: 448px;
	left: 377.7px;
	height: 234.5px;
	width: 418px
}

/* 堆叠层 上4 */
.page-4 .i-stack {
	height: 188px;
	width: 331px
}

.page-4 .i-stack-1 {
	top: 467px;
	left: 413px;
	height: 141px;
	width: 283px
}

.page-4 .i-stack-2 {
	top: 420px;
	left: 414px
}

.page-4 .i-stack-3 {
	top: 435px;
	left: 414px
}

.page-4 .i-stack-4 {
	top: 451px;
	left: 414px
}

/* 右三固定 */
.i-appends {
	background-color: #406599
}

.page-4 .standard-content .i-append-4 {
	left: 722px;
	top: 437px;
	height: 66px;
	width: 38px;
}

.page-4 .standard-content .i-append-5 {
	left: 768px;
	top: 468px;
	height: 61px;
	width: 34px;
	opacity: .7
}

.page-4 .standard-content .i-append-6 {
	left: 810px;
	top: 497px;
	height: 56px;
	width: 30px;
	opacity: .5
}

/* 活动的三个 */
.page-4 .i-append-blue {
	left: 623px;
	top: 292px;
}

.page-4 img.i-append-1 {
	height: 83px;
	width: 53px;
	-webkit-animation-delay: 0ms;
	-moz-animation-delay: 0ms;
	-ms-animation-delay: 0ms;
	-o-animation-delay: 0ms;
	animation-delay: 0ms;
}

.page-4 img.i-append-2 {
	height: 113px;
	width: 54px;
	-webkit-animation-delay: -3s;
	-moz-animation-delay: -3s;
	-ms-animation-delay: -3s;
	-o-animation-delay: -3s;
	animation-delay: -3s;
}

.page-4 img.i-append-3 {
	height: 67px;
	width: 69px;
	-webkit-animation-delay: -6s;
	-moz-animation-delay: -6s;
	-ms-animation-delay: -6s;
	-o-animation-delay: -6s;
	animation-delay: -6s;
}

/*----------------------------page-5----------------------------*/

/* 文字内容 */
.page-5 .standard-content .title {
	top: 180px;
}

.page-5 .standard-content .text {
	top: 244px;
}

/* 六个a链接 */
.page-5 .standard-content .p2 {
	font-size: 26px;
	color: inherit;
	line-height: 28.8px;
	left: 264px;
	top: 433px
}

.page-5 .standard-content .p3 {
	font-size: 20px;
	left: 400px;
	top: 356px
}

.page-5 .standard-content .p3,
.page-5 .standard-content .p4 {
	line-height: 24px
}

.page-5 .standard-content .p4 {
	font-size: 22px;
	left: 509px;
	top: 422px
}

.page-5 .standard-content .p5 {
	font-size: 16px;
	line-height: 19.2px;
	left: 541px;
	top: 307px
}

.page-5 .standard-content .p6 {
	font-size: 18px;
	line-height: 23.04px;
	left: 644px;
	top: 382px
}

.page-5 .p7 {
	font-size: 14px;
	line-height: 16.8px;
	left: 677px;
	top: 281px
}

/* 对应图片 */
.page-5 .i-2 {
	height: 154px;
	width: 130px;
	left: 251px;
	top: 474px;
}

.page-5 .i-3 {
	height: 106px;
	width: 90px;
	left: 395px;
	top: 395px;
}

.page-5 .i-4 {
	height: 123px;
	width: 104px;
	left: 501px;
	top: 459px;
}

.page-5 .i-5 {
	height: 69px;
	width: 58px;
	left: 541px;
	top: 337px;
}

.page-5 .i-6 {

	/* height: 83px; */
	height: 70px;
	left: 645px;
	top: 417px;
}

.page-5 .i-7 {
	height: 57px;
	width: 47px;
	left: 681px;
	top: 308px;
}

.page-5 .i3-bottom {
	height: 23px;
	width: 43px;
	left: 418px;
	top: 490px;
}

.page-5 .i5-bottom {
	height: 17px;
	width: 31px;
	left: 558px;
	top: 397px;
}

.page-5 .i4-bottom {
	height: 23px;
	width: 43px;
	left: 531px;
	top: 575px;
}

.page-5 .i6-bottom {
	height: 17px;
	width: 31px;
	left: 661px;
	top: 491px;
}

.page-5 .i7-bottom {
	height: 17px;
	width: 31px;
	left: 692px;
	top: 357px;
}

.page-5 .i2-bottom {
	left: 294px;
	top: 625px;
	height: 23px;
	width: 43px;
}

.page-5 .i-1 {
	height: 580px;
	width: 1302px;
	left: -206px;
	top: 160px;
}

/*----------------------------page-6----------------------------*/
.page-6>.standard-content {
	width: 900px;
	font-family: PingFangSC-Medium;
}

.page-6 .bg-bottom {
	bottom: 0;
	width: 100%;
	height: 526px
}

.page-6 .standard-content .title {
	left: 1px;
	bottom: 500px;
}

.page-6 .standard-content .text {
	left: 1px;
	bottom: 451px;
}

.page-6 .standard-content .link {
	left: 1px;
	bottom: 383px;
	width: 200px;
	font-size: 18px;
}

.page-6 .i1 {
	left: -6px;
}

.page-6 .i1,
.page-6 .i2 {
	height: 244px;
	width: 104px;
	bottom: 478px
}

.page-6 .i2 {
	left: 138px
}

.page-6 .i3 {
	height: 346px;
	width: 1129px;
	left: -111px;
	bottom: 268px;
}

.page-6 .i4 {
	height: 164px;
	width: 659px;
	left: 122px;
	bottom: 131px
}

.page-6 .btn {
	height: 40px;
	width: 136px;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	text-align: center
}

.page-6 .btn a {
	color: inherit;
	height: 100%;
	width: 100%;
	display: inline-block;
	position: static;
}

.page-6 .register {
	color: #f85959;
	background-color: #fff;
	border: 1px solid #f85959;
	left: 642px;
	bottom: 383px
}

.page-6 .login {
	color: #fff;
	background-color: #f85959;
	left: 798px;
	bottom: 383px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0;
	text-align: center
}

.footer a {
	color: #fff;
}

.footer .footer-1 {
	margin-bottom: 19px;
}

.footer .footer-2 {
	margin-bottom: 37px;
}

.footer .v-line {
	line-height: 20px;
	margin: 0 20px;
	border-left: 1px solid #fff;
}

.logo_left {
	position: absolute;
	left: 40px;
	top: 14px;
	height: 47px;
	width: 47px;
}

.logo_right {
	position: absolute;
	left: 102px;
	top: 22px;
	height: 32px;
	width: 94px;
}

/*-----------------------------------------------------------CSS动画-----------------------------------------------------*/

/*----------------------------page页公共动画---------------------------*/

/*淡入与淡出*/
.standard-content * {
	-webkit-transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
	-moz-transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
	-ms-transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
	-o-transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
	transition: all 0.5s cubic-bezier(.165, .84, .44, 1);
}

.page .in *:not(.btn) {

	/*按钮和按钮内的img图片都加上位移的话，相当于位移了两段距离，所以要么给父元素移除位移，要么给img移除位移。因为:not()无法选择.btn下的元素，所以移除.btn的位移。然后把动画延迟加到.btn下的img上*/
	opacity: 0;
	-webkit-transform: translateY(40px);
	-moz-transform: translateY(40px);
	-ms-transform: translateY(40px);
	-o-transform: translateY(40px);
	transform: translateY(40px);
}

/*guide-arrow*/
@keyframes arrow-move {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(20px);
		-moz-transform: translateY(20px);
		-ms-transform: translateY(20px);
		-o-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}

}

.guide-arrow {
	-webkit-aniamtion: arrow-move 2s ease infinite;
	-moz-aniamtion: arrow-move 2s ease infinite;
	-ms-animation: arrow-move 2s ease infinite;
	-o-aniamtion: arrow-move 2s ease infinite;
	animation: arrow-move 2s ease infinite;
}

/*----------------------------page-1----------------------------*/

/*----------------------------page-2----------------------------*/

/*图标进入延迟*/
.page-2 .standard-content .text {
	-wenkit-transition-delay: 80ms;
	-moz-transition-delay: 80ms;
	-ms-transition-delay: 80ms;
	-o-transition-delay: 80ms;
	transition-delay: 80ms;
}

.page-2 .standard-content .link {
	-wenkit-transition-delay: .16s;
	-moz-transition-delay: .16s;
	-ms-transition-delay: .16s;
	-o-transition-delay: .16s;
	transition-delay: .16s;
}

.page-2 .standard-content .btn * {

	/*与.btn移除动画效果呼应，将延迟加到子元素上*/
	-wenkit-transition-delay: .16s;
	-moz-transition-delay: .16s;
	-ms-ansition-delay: .16s;
	-o-transition-delay: .16s;
	transition-delay: .16s;
}

.page-2 .standard-content .i-1 {
	-wenkit-transition-delay: .24s;
	-moz-transition-delay: .24s;
	-ms-transition-delay: .24s;
	-o-transition-delay: .24s;
	transition-delay: .24s;
}

.page-2 .standard-content .i-2 {
	-wenkit-transition-delay: .28s;
	-moz-transition-delay: .28s;
	-o-transition-delay: .28s;
	transition-delay: .28s;
}

.page-2 .standard-content .i-3 {
	-wenkit-transition-delay: .32s;
	-moz-transition-delay: .32s;
	-ms-transition-delay: .32s;
	-o-transition-delay: .32s;
	transition-delay: .32s;
}

.page-2 .standard-content .i-4 {
	-wenkit-transition-delay: .36s;
	-moz-transition-delay: .36s;
	-ms-transition-delay: .36s;
	-o-transition-delay: .36s;
	transition-delay: .36s;
}

/*圈圈循环*/
@keyframes loop {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		-moz-transform: scale(.5);
		-ms-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}

	30% {
		opacity: .7;
	}

	70% {
		opacity: .1;
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

}

.page-2 .standard-content .loop div {
	-webkit-animation: loop 7s linear infinite;
	-moz-animation: loop 7s linear infinite;
	-ms-animation: loop 7s linear infinite;
	-o-animation: loop 7s linear infinite;
	animation: loop 7s linear infinite;
}

.page-2 .standard-content .loop .loop-2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

.page-2 .standard-content .loop .loop-3 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}

.page-2 .standard-content .loop .loop-4 {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

/*----------------------------page-3----------------------------*/

/*图标进入延迟*/
.page-3 .standard-content .title {
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	-ms-transition-delay: 35ms;
	-o-transition-delay: 35ms;
	transition-delay: 35ms;
}

.page-3 .standard-content .text {
	-webkit-transition-delay: 95ms;
	-moz-transition-delay: 95ms;
	-ms-transition-delay: 95ms;
	-o-transition-delay: 95ms;
	transition-delay: 95ms;
}

.page-3 .standard-content .icon-list .icon-1 {
	-webkit-transition-delay: 155ms;
	-moz-transition-delay: 155ms;
	-ms-transition-delay: 155ms;
	-o-transition-delay: 155ms;
	transition-delay: 155ms;
}

.page-3 .standard-content .icon-list .icon-2 {
	-webkit-transition-delay: 215ms;
	-moz-transition-delay: 215ms;
	-ms-transition-delay: 215ms;
	-o-transition-delay: 215ms;
	transition-delay: 215ms;
}

.page-3 .standard-content .icon-list .icon-3 {
	-webkit-transition-delay: 275ms;
	-moz-transition-delay: 275ms;
	-ms-transition-delay: 275ms;
	-o-transition-delay: 275ms;
	transition-delay: 275ms;
}

.page-3 .standard-content .icon-list .icon-4 {
	-webkit-transition-delay: 335ms;
	-moz-transition-delay: 335ms;
	-ms-transition-delay: 335ms;
	-o-transition-delay: 335ms;
	transition-delay: 335ms;
}

.page-3 .standard-content .icon-list .icon-5 {
	-webkit-transition-delay: 395ms;
	-moz-transition-delay: 395ms;
	-ms-transition-delay: 395ms;
	-o-transition-delay: 395ms;
	transition-delay: 395ms;
}

.page-3 .standard-content .icon-list .icon-6 {
	-webkit-transition-delay: 455ms;
	-moz-transition-delay: 455ms;
	-ms-transition-delay: 455ms;
	-o-transition-delay: 455ms;
	transition-delay: 455ms;
}

.page-3 .standard-content .i-3 {
	-webkit-transition-delay: 655ms;
	-moz-transition-delay: 655ms;
	-ms-transition-delay: 655ms;
	-o-transition-delay: 655ms;
	transition-delay: 655ms;
}

.page-3 .standard-content .i-4 {
	-webkit-transition-delay: 715ms;
	-moz-transition-delay: 715ms;
	-ms-transition-delay: 715ms;
	-o-transition-delay: 715ms;
	transition-delay: 715ms;
}

.page-3 .standard-content .i-5 {
	-webkit-transition-delay: 775ms;
	-moz-transition-delay: 775ms;
	-ms-transition-delay: 775ms;
	-o-transition-delay: 775ms;
	transition-delay: 775ms;
}

.page-3 .standard-content .i-6 {
	-webkit-transition-delay: 835ms;
	-moz-transition-delay: 835ms;
	-ms-transition-delay: 835ms;
	-o-transition-delay: 835ms;
	transition-delay: 835ms;
}

/*----------------------------page-4----------------------------*/
.page-4 .in .i-1 {
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-ms-transform: translateY(60px);
	-o-transform: translateY(60px);
	transform: translateY(60px);
}

.page-4 .standard-content .i-stack-bottom {
	-webkit-transition-delay: .54s;
	-moz-transition-delay: .54s;
	-ms-transition-delay: .54s;
	-o-transition-delay: .54s;
	transition-delay: .54s;
}

.page-4 .in .i-stack-bottom {
	-webkit-transform: translateY(240px);
	-moz-transform: translateY(240px);
	-ms-transform: translateY(240px);
	-o-transform: translateY(240px);
	transform: translateY(240px);
}

.page-4 .standard-content .i-stack-4 {
	-webkit-transition-delay: .48s;
	-moz-transition-delay: .48s;
	-ms-transition-delay: .48s;
	-o-transition-delay: .48s;
	transition-delay: .48s;
}

.page-4 .in .i-stack-4 {
	-webkit-transform: translateY(195px);
	-moz-transform: translateY(195px);
	-ms-transform: translateY(195px);
	-o-transform: translateY(195px);
	transform: translateY(195px);
}

.page-4 .standard-content .i-stack-3 {
	-webkit-transition-delay: .42s;
	-moz-transition-delay: .42s;
	-ms-transition-delay: .42s;
	-o-transition-delay: .42s;
	transition-delay: .42s;
}

.page-4 .in .i-stack-3 {
	-webkit-transform: translateY(150px);
	-moz-transform: translateY(150px);
	-ms-transform: translateY(150px);
	-o-transform: translateY(150px);
	transform: translateY(150px);
}

.page-4 .standard-content .i-stack-2 {
	-webkit-transition-delay: .36s;
	-moz-transition-delay: .36s;
	-ms-transition-delay: .36s;
	-o-transition-delay: .36s;
	transition-delay: .36s;
}

.page-4 .in .i-stack-2 {
	-webkit-transform: translateY(105px);
	-moz-transform: translateY(105px);
	-ms-transform: translateY(105px);
	-o-transform: translateY(105px);
	transform: translateY(105px);
}

.page-4 .standard-content .i-stack-1 {
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-ms-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

.page-4 .in .i-stack-1 {
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-ms-transform: translateY(60px);
	-o-transform: translateY(60px);
	transform: translateY(60px);
}

.page-4 .in .i-append-blue {
	animation-name: none;
	-webkit-animation-name: none;
	-moz-animation-name: none;
	-ms-animation-name: none;
	-o-animation-name: none;
}

.page-4 .i-append-blue {
	-webkit-animation: blues 9s cubic-bezier(1, 0, 0, 1) infinite;
	-moz-animation: blues 9s cubic-bezier(1, 0, 0, 1) infinite;
	-ms-animation: blues 9s cubic-bezier(1, 0, 0, 1) infinite;
	-o-animation: blues 9s cubic-bezier(1, 0, 0, 1) infinite;
	animation: blues 9s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes blues {
	0% {
		-webkit-transform: translate(0) scale(.75);
		-moz-transform: translate(0) scale(.75);
		-ms-transform: translate(0) scale(.75);
		-o-transform: translate(0) scale(.75);
		transform: translate(0) scale(.75);
		opacity: .7
	}

	33% {
		-webkit-transform: translate(22px, 31px);
		-moz-transform: translate(22px, 31px);
		-ms-transform: translate(22px, 31px);
		-o-transform: translate(22px, 31px);
		transform: translate(22px, 31px);
		opacity: 1;
		z-index: 2
	}

	66% {
		-webkit-transform: translate(90px, 65px) scale(.75);
		-moz-transform: translate(90px, 65px) scale(.75);
		-ms-transform: translate(90px, 65px) scale(.75);
		-o-transform: translate(90px, 65px) scale(.75);
		transform: translate(90px, 65px) scale(.75);
		opacity: .7
	}

	100% {
		-webkit-transform: translate(0) scale(.75);
		-moz-transform: translate(0) scale(.75);
		-ms-transform: translate(0) scale(.75);
		-o-transform: translate(0) scale(.75);
		transform: translate(0) scale(.75);
		opacity: .7
	}

}

/*----------------------------page-5----------------------------*/
.page-5 .back-timing {
	-webkit-transition-timing-function: cubic-bezier(.18, .9, .32, 1.28);
	-moz-transition-timing-function: cubic-bezier(.18, .9, .32, 1.28);
	-ms-transition-timing-function: cubic-bezier(.18, .9, .32, 1.28);
	-o-transition-timing-function: cubic-bezier(.18, .9, .32, 1.28);
	transition-timing-function: cubic-bezier(.18, .9, .32, 1.28);
}

.page-5 .standard-content .i-2,
.page-5 .standard-content .i2-bottom {
	-webkit-transition-delay: .32s;
	-moz-transition-delay: .32s;
	-ms-transition-delay: .32s;
	-o-transition-delay: .32s;
	transition-delay: .32s;
}

.page-5 .standard-content .i-3,
.page-5 .standard-content .i3-bottom {
	-webkit-transition-delay: .54s;
	-moz-transition-delay: .54s;
	-ms-transition-delay: .54s;
	-o-transition-delay: .54s;
	transition-delay: .54s;
}

.page-5 .standard-content .i-4,
.page-5 .standard-content .i4-bottom {
	-webkit-transition-delay: .76s;
	-moz-transition-delay: .76s;
	-ms-transition-delay: .76s;
	-o-transition-delay: .76s;
	transition-delay: .76s;
}

.page-5 .standard-content .i-5,
.page-5 .standard-content .i5-bottom {
	-webkit-transition-delay: .98s;
	-moz-transition-delay: .98s;
	-ms-transition-delay: .98s;
	-o-transition-delay: .98s;
	transition-delay: .98s;
}

.page-5 .standard-content .i-6,
.page-5 .standard-content .i6-bottom {
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	-o-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

.page-5 .standard-content .i-7,
.page-5 .standard-content .i7-bottom {
	-webkit-transition-delay: 1.42s;
	-moz-transition-delay: 1.42s;
	-ms-transition-delay: 1.42s;
	-o-transition-delay: 1.42s;
	transition-delay: 1.42s;
}
